



@font-face {
  font-family: "Figtree-300";
  src: url("./assets/fonts/figtree-latin-300-normal.ttf");
}

@font-face {
    font-family: "Figtree-400";
    src: url("./assets/fonts/figtree-latin-400-normal.ttf");
  }

  @font-face {
    font-family: "Figtree-700";
    src: url("./assets/fonts/figtree-latin-700-normal.ttf");
  }

@tailwind base;
@tailwind components;
@tailwind utilities;